# load nix-direnv by version
if ! has nix_direnv_version || ! nix_direnv_version 3.2.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.2.0/direnvrc" "sha256-hW6NC1JHue3IjZN3uDM6l6I2PMaauqd2D7hXYJ1Zfr4="
fi
# rebuild when .env is modified
watch_file .env
watch_file scripts/load-env.sh
# rebuild when nix files are modified
for file in $(git ls-files lib modules); do
  watch_file "$file"
done
# rebuild when the flake or its dependencies are modified
use flake
